{
  "mode": "{{mode}}",
  "accent": "{{accent}}",
  "notify": "{{notify}}",
  "base": "{{base}}",
  "crust": "{{crust}}",
  "surface0": "{{surface0}}",
  "text": "{{text}}",
  "dim": "{{overlay0}}",
  "dim2": "{{overlay2}}",
  "lavender": "{{lavender}}",
  "yellow": "{{yellow}}",
  "mauve": "{{mauve}}",
  "peach": "{{peach}}",
  "green": "{{green}}",
  "red": "{{red}}",
  "statusWorking": "{{status_working}}",
  "statusWaiting": "{{status_waiting}}",
  "statusDone": "{{status_done}}"
}
