tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
archive/
backups/*
!backups/README.txt
.DS_STORE
claude/*
!claude/CLAUDE.md
!claude/plugins/
!claude/settings.json
!claude/statusline.sh
!claude/notify/
!claude/claude-utils.sh
ipython/*
!ipython/profile_default/
ipython/profile_default/*
!ipython/profile_default/ipython_config.py
!ipython/profile_default/startup/
