{
  "mode": "{{mode}}",
  "accent": "{{accent}}",
  "notify": "{{notify}}",
  "base": "{{base}}",
  "mantle": "{{mantle}}",
  "crust": "{{crust}}",
  "surface0": "{{surface0}}",
  "surface1": "{{surface1}}",
  "text": "{{text}}",
  "dim": "{{overlay0}}",
  "dim2": "{{overlay2}}",
  "lavender": "{{lavender}}",
  "mauve": "{{mauve}}",
  "peach": "{{peach}}",
  "green": "{{green}}",
  "red": "{{red}}"
}
